[user]
	name = Reed Saunders
	email = reedness3000@gmail.com
[credential]
	helper = osxkeychain
[core]
  editor = vim
	excludesfile = /Users/reedns/.gitignore
	autocrlf = input
[push]
	default = simple
[alias]
  co = checkout
  chekcout = checkout
[merge]
	conflictstyle = diff3
